<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conectar Lab Chaco</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="carousel" id="carousel">
        <!-- Aquí se insertarán las diapositivas del carrusel -->
    </div>

    <button class="carousel.boton.Anterior" onclick="prevSlide()">❮</button>
    <button class="carousel.boton.Siguiente" onclick="nextSlide()">❯</button>

    <script src="scripts.js"></script>
</body>
</html>
